body
{
    color: #009933; 
    font-size: 14px;
    font-family: Arial; 

}

.p23
{
    letter-spacing: 10px; /* интервал*/

}

.kursiv
{
    font-style: italic; /* курсив */
    text-decoration: underline; /* Подчеркивает */
}

.third_abz
{
    font-family: "Comic Sans"; 
    font-size: 25px; 
    text-indent: 50px; /*отступ*/
}

.rich
{
    font-family: Arial;
    font-size: 15px; 
    font-weight: bold; /*жирный */
    font-style: italic; /*курсив */
    color: orange; 
    line-height: 25px; /*высота*/
}

.perenos
{
    white-space:normal;
}

.red
{
    color: red; 
    text-transform: uppercase; /*верхний регистр */
}

.custom-text
{
    font-family: Courier; 
    font-size: 12pt;
    text-transform: uppercase; /*заглавные*/
    letter-spacing: 200%; /*интервал*/
    text-decoration: underline; /*подчеркнутый */
    text-indent: 2cm; /* Красная строка 2 см */
    line-height: 2; /* Междустрочный интервал двойной */
}
.custom-class-1
{
    font-family: "Times New Roman", serif;
    font-weight: lighter;
    font-size: 24px;
    color: darkgreen;
}

.custom-class-2
{
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-size: 20px;
    color: purple;
}

.custom-class-3
{
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 18px;
    color: brown;
}
